
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./midia/67660.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(110%) saturate(100%) hue-rotate(320deg) contrast(80%) sepia(10%);
    
}

.login-box {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

h2 {
	margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
	margin-bottom: 10px;
}

input[type=text], input[type=password] {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}

input[type=submit] {
	background-color: #fa9ce2;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #da76ee;
}
